//Colors
$Strong-Cyan: hsl(171, 66%, 44%);
$Light-Blue: hsl(233, 100%, 69%);
$Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Grayish-Blue: hsl(201, 11%, 66%);

//Typography
//Body Copy
$font-size: 18px;

//Fonts
$font-family: 'Bai Jamjuree',
sans-serif;
//Weights: 400, 600

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size;
    padding: 130px 160px 0 160px;

    background-image: url("./images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    header {
        text-align: center;

        img {
            width: 120px;
            height: 120px;
        }

        h1 {
            margin-top: 80px;
            color: $Dark-Grayish-Blue;
        }

        p {
            margin-top: 30px;
            color: $Dark-Grayish-Blue;
        }

        div {
            button {
                margin: 50px 10px 0 10px;
                width: 220px;
                height: 60px;
                color: #fff;
                font-size: 0.9rem;
                font-weight: 400;
                border: none;
                border-radius: 30px;
            }

            button:first-of-type {
                background-color: $Strong-Cyan;
                box-shadow: -1px 1px 2px $Dark-Grayish-Blue,
                    5px 5px 20px $Strong-Cyan;
            }

            button:last-of-type {
                background-color: $Light-Blue;
                box-shadow: -1px 1px 2px $Dark-Grayish-Blue,
                    5px 5px 20px $Light-Blue;
            }
        }
    }
}
